logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
/.target
/RUNNING_PID
bin
.cache
*.out
*.log
.worksheet
app/worksheet
*.class
sass/.sass-cache
conf/version
/.metadata
/.settings
